.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@font-face {
  font-family: "FairfieldDisplay";
  src: url(./fonts/PlayfairDisplay.ttf) format("truetype");
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(100px + 2vmin);
  color: #426b1f;
  font-family: "Playfair Display";
  
}

.App-home-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  font-size: calc(10px + 2vmin);
  color: #426b1f;
  font-family: "Playfair Display";
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.brand-logo img,
.additional-image img {
  max-width: 150px;
  height: auto;
  margin-right: 10;
}

.brand-name{
  font-size: 24 px;
  margin:0; /*ensures no margin for text*/
  color:#426b1f;
  font-family: "Playfair Display";
}
.brand-name-link {
  text-decoration: none; /* Remove underline */
  color: #426b1f; /* Keep the green color */
  
}

.brand-name-link:hover {
  color: #426b1f; /* Ensure color stays the same on hover */
}
.menu-bar {
  background-color: #ffffff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.menu-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu-bar li {
  float: left;
}

.menu-bar li a {
  display: block;
  color: #426b1f;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu-bar li a:hover {
  background-color: #e5e5e5;
}
