input[type="radio"] {
  display: none;
}

/* .product-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background-color: white;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.product-popup.open {
  transform: translateX(0);
}
*/

.product-popup-interior {
  height: 180px;
}

.product-popup {
  /* font-family: "FairfieldDisplay"; */
  position: absolute;
  height: 300px;
  width: 250px;
  /* padding: 20px; */
  box-shadow: 0 0 10px lightgray;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  z-index: 10;
  border-radius: 15px;
}

.criteria-section {
  margin-top: 10px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.product-grid {
  float: left;
  margin: auto;
  width: 50%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  place-items: center;
  align-items: center;
  overflow: auto;
}

@media (max-width: 1700px) {
  .product-grid {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* 2 items per row for smaller screens */
  }
}

@media (max-width: 1400px) {
  .product-grid {
    grid-template-columns: 1fr; /* 1 item per row for very small screens */
  }
}

.product-grid .product-item {
  border: 0px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 0 10px lightgray;
  /* background-color: gray; */
  width: 250px;
  height: 300px;
  /* margin: 10px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* cursor: pointer;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  display: inline-block; */
}

.product-item img {
  height: 160px;
}

.product-item .productName {
  text-align: center;
  color: #3e4958;
  font-size: 19px;
  font-family: "FairfieldDisplay";
}

.product-item:hover {
  transition: 0.3s ease-in;
  cursor: pointer;
}

.finalGroceryList {
  position: fixed;
  top: 80px;
  right: 0;
  padding: 20px;
  margin-top: 5%;
  /* background-color: grey; */
  width: 400px;
  height: 100%;
  font-size: 15px;
  font-family: "FairfieldDisplay";
  text-align: center;
}

.insideFGL {
  border: 0px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 0 10px lightgray;
  margin: auto;
  width: 310px;
  height: 470px;
  /* Lined paper background */
  /* background-image: linear-gradient(#e0dddd 0.1em, transparent 0.1em);
  background-size: 100% 2em; */
}

.FGLTitle {
  padding: 20px;
  padding-left: 40px;
  padding-top: 26px;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
}

.listOfGroceries {
  overflow-y: scroll;
  margin: auto;
  width: 270px;
  height: 300px;
  margin-bottom: 17px;
}

.listOfGroceries::-webkit-scrollbar {
  display: none;
}

.addToListButton {
  border: none;
  background: none;
  height: 40px;
  width: 196px;
  box-shadow: 1px 1px 2px rgba(21, 21, 21, 0.1);
  border-radius: 8px;
  cursor: pointer;
  font-size: 14.8px;
  color: white;
  /* font-family: "FairfieldDisplay"; */
  margin: 0 1rem;
  padding: 0.25rem 2rem;
  transition: all 0.25s ease-in-out;
  background: #426b1f;
  color: #426b1f(0, 0%, 23%);
}

.finalizeButton {
  border: none;
  background: none;
  height: 40px;
  box-shadow: 1px 1px 2px rgba(21, 21, 21, 0.1);
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  /* font-family: "FairfieldDisplay"; */
  margin: 0 1rem;
  padding: 0.25rem 2rem;
  transition: all 0.25s ease-in-out;
  background: #426b1f;
  color: #426b1f(0, 0%, 23%);
}

.button:focus,
.button:hover {
  box-shadow: 1px 1px 2px rgba(21, 21, 21, 0.2);
  background: #426b1f(0, 0%, 88%);
}

.listOfGroceries ul {
  list-style-type: none;
  padding: 0;
  padding-inline-start: 20px;
}

.grocery-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  border-bottom: 1px solid #ccc;
}

.grocery-details {
  flex-grow: 1;
}

.removeButton {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

select {
  border: none;
  background: none;
  height: 26px;
  box-shadow: 1px 1px 2px rgba(21, 21, 21, 0.1);
  border-radius: 8px;
  font-size: 14px;
  color: white;
  /* font-family: "FairfieldDisplay"; */
  background: #426b1f;
}
