<html>

<head>
    <title>Oops!</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    </link>
</head>
<html>
<div class="errorPage">
    <span class="oops">Oops!</span><br />
    <img th:src="@{/MissingPage.png}"></img>
    <p>There seems to be a problem with the page you requested
        (<span th:text="${path}"></span>).</p>
    <table border="1">
        <tr><td>Error Message</td><td th:text="${message}"></td></tr>
        <tr><td>Status Code</td><td th:text="${status}"></td></tr>
        <tr><td>Exception</td><td th:text="${exception}"></td></tr>
        <tr><td>Stacktrace</td><td><pre th:text="${trace}"></pre></td></tr>
        <tr><td>Binding Errors</td><td th:text="${errors}"></td></tr>
    </table>
</div>

</html>

</html>